<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <app-home>Cargando</app-home>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 text-center border">
        <app-add>Cargando...</app-add>
    </div>

    <div class="col-md-3 text-center border">
      <app-unfinished>Cargando ...</app-unfinished>
    </div>

    <div class="col-md-3 text-center border">
     <p><strong>Detalle de la lista</strong></p>
    </div>

    <div class="col-md-3 text-center border">
      <app-finished>Cargando ...</app-finished>
    </div>
    
  </div>
</div>  

