<p>
	<strong>Agregar nueva lista</strong>
</p>
<div class="card margin-5px">
	<div class="form-group">
		<label class="col-form-label" for="formGroupExampleInput">Nombre de la lista</label>
		<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de la lista" [(ngModel)]="listName" name="listName">
	</div>
	<div class="form-group">
		<label class="col-form-label" for="formGroupExampleInput2">Item</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" (keyup.enter)="addToList()" placeholder="Nombre del item" [(ngModel)]="itemName" name="itemName">
		<div class="form-group">
			<button class="btn btn-link" (click)="addToList()" >Agregar item</button>
			<p class="animated fadeIn fast bg-danger text-white" *ngIf="errorMessageItem">{{errorMessageItem}} | <span class="putPointer" (click)="errorMessageItem=''">x</span></p>
			<p class="animated fadeIn fast bg-danger text-white" *ngIf="errorMessageList">{{errorMessageList}} | <span class="putPointer" (click)="errorMessageList=''">x</span></p>
		</div>
		<div>
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let item of listOfItems; let i = index" (click)="deleteItem(i)">
				<span>{{item.name}} <button class="btn btn-danger btn-sm float-right">borrar</button></span> 	 
				</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<button class="btn btn-primary btn-block" (click)="saveList()">Agregar lista</button>
	</div>
</div>
